//$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$icon-font-path: "/bower_components/font-awesome/fonts/";
$fa-font-path: "/bower_components/font-awesome/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'font-awesome/scss/font-awesome.scss';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

@media (max-width: $screen-sm) {
  [class^='col-'] {
    text-align: center;
  }

  div.fp-logo-container {
    text-align: left;
  }

  .fp-description {
    margin-top: 10px;
  }

  div.fp-back-button-container {
    text-align: center;
  }
}

/* Theme variables */
//$link-color: #1c3659;
$fp-bg-color: #312534;
$link-color: $fp-bg-color;
//$fp-color:      invert($fp-bg-color);
$fp-color: #d6d6d6;
//$fp-panel-bg-color: #1c4567;
//$fp-panel-bg-color: complement($fp-bg-color);
$fp-panel-bg-color: #F25749;
$fp-panel-hover-bg-color: lighten($fp-panel-bg-color, 7%);
//$fp-panel-color: invert($fp-panel-bg-color);
//$fp-panel-color: lighten($fp-color, 7%);
$fp-panel-color: $fp-color;
//$fp-panel-link-color: scale-color($fp-panel-color, $blue:90%);
$fp-panel-link-color: $link-color;

/* Overrides */

.h1 {
  color: $link-color;
}
.row {
  margin-top: 20px;
}

.well {
  margin-bottom: 0px;
  color: $fp-bg-color;
  opacity: 0.8;
}

body {
  background-color: $fp-bg-color;
  color: $fp-color;
}

.header {
  margin-bottom: 10px;
}

.marketing {
  margin: 10px 0px;
}

/* Custom styles for Framed Potato */

.fp-img-thumb {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.fp-panel {
  @include transition(.2s ease-in-out all);
  background-color: $fp-panel-bg-color;
  color: $fp-panel-color;
  padding: 15px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.fp-main-row {
  @extend .fp-panel;
}

.fp-panel a {
  color: $fp-panel-link-color;
}

.fp-main-row:hover {
  @include transition(.4s ease-in-out all);
  background-color: $fp-panel-hover-bg-color;
  cursor: pointer;
}

.fp-main-row-no-hover {
  @include transition(.2s ease-in-out all);
  @extend .fp-panel;
}

.fp-contents {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fp-title {
  @extend .h3;
}

.fp-detail-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fp-published {

}

.fp-published-full {
  padding-top: 5px;
}

.fp-label {
  font-weight: bold;
}

.fp-back-button-container {
  text-align: right;
  margin-top: 10px;
}

.fp-primary-button {
  background-color: $fp-bg-color;
  color: $fp-color;
}

.fp-primary-button:hover {
  background-color: darken($fp-bg-color, 5%);
  color: darken($fp-color, 5%);
}

.fp-tab-space {
  margin-left: 2em;
}

.fp-description {
}

.fp-tag {
  color: $link-color;
}

.fp-tag:hover {
  text-decoration: underline;
  cursor: pointer;
}

.fp-secondary-button:hover {
  background-color: white;
//  color: $fp-panel-bg-color;
  color: $fp-bg-color;
}

.fp-secondary-button {
//  background-color: $fp-color;
  background-color: darken(white, 10%);
  color: darken($fp-bg-color, 10%);
  margin-left: 10px;
}

.fp-no-margin {
  margin: 0px;
}

.fp-input {
  color: $fp-bg-color;
}

.fp-logo {
  width: 50px;
  opacity: 0.8;
  margin-bottom: 15px;
}
