<div ng-include="'partials/navbar'"></div>
<div class="row fp-main-row-no-hover">
  <div ng-repeat="photo in filtered">
    <div class="row">
      <div class="col-sm-11"><span class="h1"><a target="_blank" href="{{photo.link}}">{{photo.title}}</a></span></div>
      <div class="col-sm-1 hidden-xs fp-back-button-container"><a href="/"><button class="btn btn-xs fp-primary-button"><i class="fa fa-backward"></i> Back</button></a> </div>
    </div>
    <div class="row">
      <div class="col-sm-12"><a target="_blank" href="{{'http://www.flickr.com/people/' + photo.author_id}}">{{photo.author | formatAuthor:35}}</a>
        <span class="fp-tab-space"></span>|<span class="fp-tab-space"></span>
        <span class="fp-label">Published: </span>{{photo.published | date
            : "d MMM yyyy 'at' h:mm a" | ordinalSuffix}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5"><img class="img-thumbnail" ng-src="{{photo.media.m}}"></div>
      <div class="col-sm-7"><fp-description description="photo.description"></fp-description></div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <fp-tags tags="photo.tags"></fp-tags>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1 visible-xs fp-back-button-container"><button ng-click="goHome()" class="btn btn-xs fp-primary-button"><i class="fa fa-backward"></i> Back</button> </div>
    </div>
  </div>
  <div class="row" ng-if="!filtered">
    <div class="col-sm-11"><p>No photo data loaded. Please go back to load images.</p></div>
    <div class="col-sm-1 fp-back-button-container"><button ng-click="goHome()" class="btn btn-xs fp-primary-button fp-no-margin"><i class="fa fa-backward"></i> Back</button> </div>
  </div>
</div>
