<div ng-include="'partials/navbar'"></div>

<div class="marketing">
  <div class="row">
    <div class="col-xs-6"><input type="text" class="form-control fp-input" placeholder="Tag filter" ng-model="tagSearch.q"></div>
    <div class="col-xs-6">
      <div class="pull-right"><button title="Load photos for a random word" class="btn btn-sm fp-secondary-button" ng-click="getRandomPhotos()"><i class="fa fa-random"></i></button> </div>
      <div class="pull-right"><button ng-if="tagSearch.q" title="Load photos for the current tag filter" class="btn btn-sm fp-secondary-button" ng-click="getPhotosForTag()"><i class="fa fa-search"></i></button> </div>
    </div>
  </div>
  <div class="row" ng-if="!photoData.$resolved">
    <div class="col-sm-12">
      <div class="alert alert-info">Please stand by while we duck over to Flickr to grab some photos of {{queryString}}
      for you...</div>
    </div>
  </div>
  <div class="row" ng-if="photoData.$resolved && photoData.items.length == 0">
    <div class="col-sm-12">
      <div class="alert alert-warning">There were no photos found for <strong>{{queryString}}</strong>!</div>
    </div>
  </div>
  <div class="row" ng-if="photoData.$resolved && photoData.items.length > 0">
    <div class="col-sm-12">
      <div>Currently showing photos containing the tag: <strong>{{queryString}}</strong></div>
      <!--<div class="well well-sm">Currently showing photos containing the tag: <strong>{{queryString}}</strong></div>-->
    </div>
  </div>
  <div class="row fp-main-row" ng-repeat="photo in photoData.items | filter:{tags:tagSearch.q}" ng-click="goTo('/'+photo.$$hashKey,$event)">
    <!--<div class="fp-main-row">-->
      <div class="col-sm-3"><img ng-click="goTo('/'+photo.$$hashKey,$event)" class="img-thumbnail" ng-src="{{photo.media.m}}"></a></div>
      <div class="col-sm-9 fp-contents">
        <!-- Truncate titles differently, depending on screen size -->
        <div class="fp-title hidden-xs">{{photo.title | truncate : 35}}</div>
        <div class="fp-title visible-xs">{{photo.title | truncate : 20}}</div>
        <div class="fp-published-full hidden-md hidden-lg"><span class="fp-label">Published: </span>{{photo.published | date
          : "d MMM yyyy 'at' h:mm a" | ordinalSuffix}}
        </div>
        <div class="row fp-detail-row">
          <div class="col-sm-8 col-md-3 fp-author"><span class="fp-label">By: <br class="hidden-sm hidden-xs"></span> <a
              href="{{'http://www.flickr.com/people/' + photo.author_id}}" ng-click="$event.stopPropagation()" target="_blank">{{photo.author | formatAuthor:15}}</a></div>
          <div class="col-md-5 fp-published hidden-sm hidden-xs"><span class="fp-label">Published: <br class="hidden-xs"></span>{{photo.published | date
            : "d MMM yyyy 'at' h:mm a" | ordinalSuffix}}
          </div>
          <div class="col-sm-4 col-md-4 fp-view"><br class="hidden-sm"><a target="_blank" href="{{photo.link}}" ng-click="$event.stopPropagation()"><i class="fa fa-flickr"></i> View on Flickr</a></div>
        </div>
      </div>
    <!--</div>-->
  </div>
</div>

<div class="footer">
  <p>Luke Purton, 2014</p>
</div>
