<div class="header" ng-controller="NavbarCtrl">
  <ul class="nav nav-pills pull-right">
    <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
        <a ng-href="{{item.link}}">{{item.title}}</a>
    </li>
  </ul>
  <div class="row">
    <div class="col-xs-10 fp-logo-container">
      <h3>Framed Potato</h3>
    </div>
    <div class="col-xs-2">
      <img alt="Framed Potato logo" class="fp-logo pull-right" src="/images/logo.png" >
    </div>
  </div>
</div>